<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.BasketballActivity">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.OrderCheckActivity" />
        <activity android:name=".activities.StartActivityForResultActivity" />
        <activity android:name=".activities.TargetActivity" />
        <activity android:name=".activities.IntentExamActivity" />
        <activity android:name=".activities.IntentExam2Activity" />
        <activity
            android:name=".activities.ImplicitActivity"
            android:label="@string/title_activity_implicit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SignUpExamActivity" />
        <activity android:name=".activities.SignUpExamTargetActivity" />
        <activity android:name=".activities.WebBrowserActivity" />
        <activity android:name=".ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WeatherActivity" />
        <activity
            android:name=".activities.MemoActivity"
            android:label="@string/title_activity_memo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Memo2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BankActivity" />
        <activity android:name=".activities.OpenAccountActivity" />
        <activity android:name=".activities.AccountCheckActivity" />
        <activity android:name=".activities.AdminModeActivity" />
        <activity android:name=".activities.LifeCycleActivity" />
        <activity android:name=".activities.ColorFragmentActivity" />
        <activity android:name=".activities.ListViewExamActivity" />
        <activity android:name=".activities.FragmentExam1Activity" />
        <activity android:name=".activities.ImageFragmentActivity" />
        <activity android:name=".activities.ViewPagerActivity" />
        <activity android:name=".activities.ViewPagerExamActivity" />
        <activity android:name=".activities.WeatherApiActivity" />
        <activity android:name=".activities.GeoIpActivity" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activities.NaverTranslateApiActivity" />
        <activity android:name=".activities.GalleryActivity" />
        <activity android:name=".activities.ThreadActivity" />
        <activity android:name=".activities.AsyncTaskActivity" />
        <activity android:name=".activities.TwoWayViewActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.RecyclerViewActivity" />
        <activity android:name=".activities.ConstraintLayoutActivity" />
        <activity android:name=".activities.BroadcastReceiverActivity" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.MusicPlayerActivity" />
        <activity
            android:name=".activities.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ServiceActivity" />

        <service
            android:name=".services.MyIntentService"
            android:exported="false" />
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.RealmExamActivity" />

        <service android:name=".services.MusicService" />

        <activity android:name=".activities.CustomDesignActivity" />
        <activity
            android:name=".activities.DialogThemeActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".activities.JoystickActivity" />
        <activity android:name=".activities.DataBindingActivity" />
        <activity android:name=".activities.PaletteActivity" />
        <activity android:name=".activities.NewsXMLActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".activities.FacebookLoginActivity"></activity>
    </application>

</manifest>